body {
  font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 130%;
  background: #FFFFFF;
  color: #000000;
  height: 100%;
	min-width: 800px;
}

#page {
  min-height: 600px;
}

#content {
	width: 880;
  padding: 10px;
}

#top_bar {
  position: relative;
  top: auto;
  left: auto;
	background: -moz-linear-gradient(top, #E8E8E8, #FFFFFF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#E8E8E8));
  display: block;
  height: 70px;
  line-height: 50px;
  font-size: 12sepx;
  border-bottom: 1px groove #FFF;
  padding: 0px 5px;
	color: #286DA3;
}
#top_bar_container {
	width: 900px;
	margin: 0px auto;
}
#top_bar_logo {
	float: left;
	margin-left: 15px;
	min-width: 50px;
	font-size: 30px;
	line-height: 50px;
	font-variant: small-caps;
	-webkit-font-smoothing: antialiased;
	text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
}
#top_bar_logo a {
	text-decoration: none;
	outline: none;
	color: #000;
}
#top_bar_logo a:hover {
	color: #286DA3;
}
#top_bar_links {
	margin-top: 10px;
	margin-right: 10px;
	float: right;
	height: 30px;
	min-width: 30px;
	text-align: center;
	background: -moz-linear-gradient(top, #EEE, #FFF);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#EEE));
	text-shadow: rgba(255, 255, 255, 0.246094) -1px -1px 0px;
	border: 1px solid #EEE;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.link_button {
	float: left;
	height: 30px;
	line-height: 30px;
	color: #286DA3;
}
.link_button a {
	display: block;
	padding: 0px 10px;
	text-decoration: none;
	outline: none;
	color: #286DA3;
}
.link_button a:hover {
	text-decoration: underline;
}

#user_login {
}

#site {
  margin: -20px auto 10px;
  position: relative;
  padding: 0px 5px;
  min-width: 870px;
	width: 900px;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  display: block;
  min-height: 470px;
	font-size: 14px;
}

#banner {
	position: relative;
	width: 900px;
	margin: -1px auto;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px;
	border-bottom-radius: 5px;
	border-bottom-radius: 5px;
	text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
	border: 1px solid #E8E8E8;
	-webkit-box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-box-shadow: #333 0px 0px 5px;
}
#banner_top {
	width: 900px;
	margin: 0px auto;
	background: #286DA3;
	color: #FFFFFF;
	height: 50px;
	line-height: 50px;
	font-size: 24px;
	text-align: center;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#banner_bottom {
	width: 900px;
	margin: -1px auto;
	background: #E8E8E8;
	color: #CC0000;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	text-align: right;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: -moz-linear-gradient(top, #FFF, #AAA);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#E8E8E8));
}
#notices {
	width: 896px;
	padding: 2px;
	margin: 5px auto 2px;
	text-align: center;
}
.notice {
	color: green;
}
.alert {
	color: red;
}

#footer {
  margin: 10px auto 10px;
  position: relative;
  padding: 10px;
  min-width: 880px;
	width: 880px;
  border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
  display: block;
  min-height: 50px;
	font-size: 13px;
	background: #E8E8E8;
	-webkit-box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-box-shadow: #333 0px 0px 5px;
}

#home {
	width: 880px;
	margin: auto;
}

.strong {
	font-variant: small-caps;
}

#login {
	margin: auto;
	text-align: center;
	padding: 10px;
	border: 15px solid #286DA3;
	background: #AAA;
}

a#new_goal_button {
	
} 
a.clickable_button {
	margin: auto;
	min-width: 100px;
	font-size: 12px;
	text-decoration: none;
	background: #EE4720;
	color: #FFFFFF;
	padding: 10px;
	border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
	-box-shadow: #333 0px 0px 5px;
	-moz-box-shadow: #333 0px 0px 5px;
	-webkit-box-shadow: #333 0px 0px 5px;
}
a.clickable_button:hover {
	background: #FFF;
	background: -moz-linear-gradient(top, #EE4720, #FF5831);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF5831), to(#EE4720));
}

#goals_list {
	width: 880px;
}
.goal_odd {
	min-height: 50px;
	background: #E8E8E8;
	padding: 10px;
	border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;
	margin-bottom: 1px;
}
.goal_even {
	min-height: 50px;	
	border: 1px solid #E8E8E8;	
	padding: 10px;
	border-radius: 5px;
  moz-border-radius: 5px;
  webkit-border-radius: 5px;	
}
.goal_name {
	display: inline;
}
.goal_public {
	display: inline;
}
.goal_delete {
	display: inline;
	position: relative;
	top: -5px;
	left: -5px;
	text-align: center;
	padding: 1px 1px 2px 4px;
	background: #FFF;
	color: #000;
	height: 16px;
	font-size: 12px;
	width: 10px;
	z-index: 999;
	border: 1px solid gold;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;	
}
.goal_delete a {
	text-decoration: none;
	color: inherit;
	background: inherit;
}
.goal_delete a:hover {
	color: gold;
}