#goals {
  width: 871px;
	margin: auto;
}
#goals h1 {
	font-size: 20px;
	text-align: center;
	padding: 2px;
}
.achievements_list {
  float: left;
  width: 174px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#888));
  background: #DDD;
  border: 0px solid #FFF;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.246094) -1px -1px 0px;
	-webkit-font-smoothing: antialiased;
}
.achievements_body {
  float: left;
  width: 678px;
}

.achievement_list {
  padding: 2px 2px 2px 8px;
  line-height: 20px;
  font-size: 13px;
}
.achievement {
  margin-bottom: 1px;
  padding: 10px;
  border: 1px solid #286DA3;
  text-align: center;
  position: relative;
  height: 82px;
  font-size: 13px;
  font-family: Georgia;
	-webkit-box-shadow: rgba(0, 0, 0, 0.296875) 0px 1px 4px;
	-webkit-font-smoothing: antialiased;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4183C4), to(#286DA3));
}
.achievement-icon {
  position: absolute;
  height: 72px;
  left: auto;
  width: 72px;
  background: no-repeat 50% 50%;
  margin: 2px 0px 0px 8px;
}
.achievement-title {
  font-size: 15px;
  font-weight: bold;
  padding: 17px 0px 3px;
}
.achievement-description {
  margin: 0px auto;
  width: 486px;
}
.achievement-image {
  position: absolute;
  right: 6px;
  top: 10px;
}
.achievement-points {
  position: absolute;
  height: 61px;
  width: 68px;
  top: 5px;
  right: 12px;
  background: url('/images/point_shield.png');
  font-size: 22px;
  color: #FFFFFF;
}
.achievement-points div {
  padding-top: 15px;
  text-shadow: black 1px 0px 2px, black 1px 1px 2px, black -1px -1px 2px, black -1px -1px 2px;
}
.achievement-date {
  position: relative;
  margin-top: 5px;
  font-size: 11px;
  font-weight: bold;
  font-family: arial;
}

