<div id="about">
	<h1>About Whichado</h1>
	<div>
		<%= link_to "Whichado", root_path %> was started by two ronin, lost without their master: goals. Some say that after creating the site they simply vanished.
	</div>
	<br/>
	<div>
		Others believe the two still roam the world creating useful websites and spreading awesome from their faithful steeds. 
	</div>
	<br/>
	<div>
		We aren't so sure about either. You could probably find them going by the conspicuous names Shayne and Seth.
	</div>
</div> <!-- about -->