<div id="home">
	<h1>Welcome!</h1>
	<p>We want to help you succeed with an unobtrusive system that keeps you motivated and organized. We hope you'll like it.</p>
	<br>
	<%= link_to 'Achievement Types', achievement_types_path %>
</div> <!-- home -->