<h1>Welcome!</h1>
<p>We want to help you succeed with an unobtrusive system that keeps you motivated and organized. We hope you'll like it.</p>

<script>
$(document).ready(function() {
  //alert("Document ready");

  $('<p>').append("<div>hello world</div>");
});
</script>
