<div id="security">
	<h1>Whichado Privacy & Security</h1>
	<div>
		We care about your privacy and security. We encourage you to share your goals with the world and take advantage of the many benefits inherent in sharing. However, if you choose not to, simply make the goals private and no one will be able to see what you're working on. You can even mix and match the two states keeping some goals private while allowing everyone to see the others.
	</div>
	<br/>
	<div>
		We reserve the right to determine popular goals and report on general trends in the site. In so doing, information will be anonymous. We will not release your information without your consent.
	</div>
</div> <!-- security -->
