<div id="user_login">
	<div id="user_signin">
		<h2>Sign in</h2>
		<%= render :partial => "devise/sessions/new" %>
	</div> <!-- user_signin -->
	
	<div id="user_signup">
		<h2>Sign up</h2>
		<%= render :partial => "devise/registrations/new" %>
	</div> <!-- user_signup -->

	<div style="clear:both"> <br/> </div>
</div> <!-- user_login -->
