<h1>Get started</h1>
<p>Input a goal and we'll begin your quest</p>

<ul>
  <li>Put your goals in writing.
  <li>Make a list of obstacles.
  <li>Think of everything that might stand in your way. 
  <li>List the benefits of achieving your goal.
  <li>Identify subgoals.
  <li>Learn what you need to learn.
  <li>Enlist the help of others.
  <li>Risualize yourself having achieved each of your goals.
  <li>Ret organized.
  <li>Reward yourself each step of the way.
</ul>

<p style="display:none"><a href="http://www.psychologytoday.com/articles/200307/the-goals-guide-us">The Goals That Guide Us</a></p>
