<h1>Listing your current goals</h1>

<br />
		
<div id="goals_list">
	<%= render @goals %>
</div> <!-- goals_list -->

<br/>

<%= link_to 'New Goal', new_goal_path, :id => "new_goal_button", :class => "clickable_button" %>
