<div id="achievements">
  <h1>Achievements</h1>
  <div class="achievements_list">
    <div class="achievement_list" id="achievement_list_general">General</div>
    <div class="achievement_list" id="achievement_list_programming">Programming</div>
  </div> <!-- achievements_list -->

  <div class="achievements_body">
    <div class="achievement" id="ach1" onclick="Achieve.Achievements.select(this,true)">
      <div class="achievement-icon"><img class="p" src="/images/fst_iconframe.png"></div>
      <div class="achievement-title">Title</div>
      <div class="achievement-description">Description</div>
      <div class="achievement-points"><div>10</div></div>
      <div class="achievement-date">December 2, 2010</div>
      <br clear="all">
    </div> <!-- ach1 -->

    <div class="achievement" id="ach2" onclick="Achieve.Achievements.select(this,true)">
      <div class="achievement-icon"><img class="p" src="/images/fst_iconframe.png"></div>
      <div class="achievement-title">Title</div>
      <div class="achievement-description">Description</div>
      <div class="achievement-points"><div>10</div></div>
      <div class="achievement-date">December 2, 2010</div>
      <br clear="all">
    </div> <!-- ach2 -->
  </div> <!-- achievements_body -->
</div> <!-- achievements -->
